<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ pageTitle }} - {{ appName }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CryptoEX Trading Platform. It's developed for buy-sell, exchange, market activities etc. Fully responsive, creative and clean design." />
  <meta name="keywords" content="crypto Exchange, crypto theme, cryptocurrency dashboard, crypto website, cryptocurrency" />
  <meta content="Oguzhan Atalay" name="author" />
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#000000">
  @include('partials.css')
</head>
<body class="crypt-dark">
@include('partials.header')

@!section('body')

@include('partials.footer')
@include('partials.js')
</body>
</html>
